-r requirements.txt

pywebview==6.2.1
pyobjc-core==11.1; sys_platform == "darwin"
pyobjc-framework-Cocoa==11.1; sys_platform == "darwin"
pyobjc-framework-Quartz==11.1; sys_platform == "darwin"
pyobjc-framework-Security==11.1; sys_platform == "darwin"
pyobjc-framework-UniformTypeIdentifiers==11.1; sys_platform == "darwin"
pyobjc-framework-WebKit==11.1; sys_platform == "darwin"
